<configuration>
    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Hibernate logger configuration -->
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.internal.util.EntityPrinter" level="WARN" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
